<div class="container">
  <%= month_calendar events: @tasks do |date, tasks| %>
    <%= date %>

    <% tasks.each do |task| %>
      <div>
        <%= task.name %>
      </div>
    <% end %>
  <% end %>
</div>
